<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="std1" class="com.springcore.primitive.Student">
		<!-- <property name="id"> -->
			<property name="id" value="101">
			<!-- <value>101</value> -->
		</property>
		<property name="name">
			<value>sachin</value>
		</property>
		<property name="address">
			<value>Gaushala</value>
		</property>
	</bean>
	
	
	<bean name="std2" class="com.springcore.primitive.Student">
		<property name="id">
			<value>102</value>
		</property>
		<property name="name">
			<value>sachin</value>
		</property>
		<property name="address">
			<value>Gaushala</value>
		</property>
	</bean>

</beans>
